.container{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}

.container .block{
    margin:20px;
    padding:20px;
    background-color: white;
}

.block.block1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.block.block2{
    grid-column: 2/3;
    grid-row: 2/3;
}
.block.block3{
    grid-column: 3/3;
    grid-row: 3/3;
}
.block.block4{
    grid-column: 4/5;
    grid-row: 4/5;
}
.block.block5{
    grid-column: 5/6;
    grid-row: 5/6;
}
.block.block6{
    grid-column: 5/6;
    grid-row: 1/2;
}
.block.block7{
    grid-column: 4/5;
    grid-row: 2/3;
}
.block.block8{
    grid-column: 1/2;
    grid-row: 5/6;
}
.block.block9{
    grid-column: 2/3;
    grid-row: 4/5;
}