header, footer, .education
{
    padding: 30px;
}

header
{
    font-family: Helvetica;
    margin-bottom: 10px;
}

header > h1
{
    font-size: 80px;
    color: #EDF2F4;
}

header > h2
{
    font-size: 40px;
    color: #EDF2F4;
}

a
{
    color: #EF233C;
}

header, footer
{
    color: #8D99AE;
    background-color: #2B2D42;
}

.education
{
    background-color: #8D99AE;
}

footer
{
    margin-top: 10px;
}