table, th, td
{
    border: 1px solid black;
}

img
{
    height: 200px;
}

.hobby table, th, td
{
    border: none;
}

.hobby td
{
    width: 300px;
}

iframe
{
    border: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.vrienden table
{
    border-collapse: collapse;
    text-align: left; width: 100%;
}

.vrienden
{
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #FFD4E2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.vrienden table td, .vrienden table th
{
    padding: 3px 10px;
}

.vrienden table thead th
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF73F1), color-stop(1, #FFA6E7) );
    background:-moz-linear-gradient( center top, #FF73F1 5%, #FFA6E7 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF73F1', endColorstr='#FFA6E7');
    background-color:#FF73F1;
    color:#000000;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #F486CC;
}

.vrienden table thead th:first-child
{
    border: none;
}

.vrienden table tbody td
{
    color: #000000;
    border-left: 1px solid #F486CC;
    font-size: 12px;font-weight: normal;
}

.vrienden table tbody .alt td
{
    background: #F4E0ED;
    color: #000000;
}

.vrienden table tbody td:first-child
{
    border-left: none;
}

.vrienden table tbody tr:last-child td
{
    border-bottom: none;
}

.vrienden table tfoot td div
{
    border-top: 1px solid #FFD4E2;
    background: #F4E0ED;
}

.vrienden table tfoot td
{
    padding: 0;
    font-size: 12px
}

.vrienden table tfoot td div
{
    padding: 2px;
}


.onbekend
{
    background-color:red;
}